<!DOCTYPE html>
<html>
<head lang="en">
    <link rel="stylesheet" type="text/css" href="./static/css/mainstyle.css"/>


    <meta charset="UTF-8">
    <title>Average</title>


</head>
<body>
<div id="left"></div>
<div id="right"></div>
<div id="top"></div>
<div id="bottom"></div>
<div id="left2"></div>
<div id="right2"></div>
<div id="top2"></div>
<div id="bottom2"></div>
<h1 class="ti">Average Of Numbers</h1>
<form  method="post">
    <p><br></p>
    <input type="text" name="points"/>
    <p><br></p>
    <div>
        <button type="submit" >Average</button>
    </div>


</form>
<h3 class="pts">Average Of Numbers:{{source}}</h3>
<h4 class="note">Note:- Ensure that the numbers are comma separated<br>   Sample Input:- 1,2,3,4 </h4>
</body>
</html>