<!DOCTYPE html>
<html>
<head lang="en">
    <link rel="stylesheet" type="text/css" href="./static/css/graphstyle.css"/>


    <meta charset="UTF-8">
    <title>Main Page</title>


</head>
<body>
<div id="left"></div>
<div id="right"></div>
<div id="top"></div>
<div id="bottom"></div>
<div id="left2"></div>
<div id="right2"></div>
<div id="top2"></div>
<div id="bottom2"></div>
<h2>INTEGRATION OF FUNCTION</h2>
<form  method="post">
    <h3 class="pts">Enter The order of Polynomial</h3>
    <input type="text" name="order" />

    <p><br></p>
    <h3 class="pts" >Enter The Coeffecients of the Polynomial</h3>
    <input type="text" name="points"/>
    <p><br></p>
    <h3 class="pts" >Enter The lower and upper limit</h3>
    <input type="text" name="area"/>
    <p><br></p>
    <div>
        <button type="submit" >INTEGRATE</button>

        <h4 class="pts">Sample Input: Order=2 , Coeffecients=1,2,3 ,Limits=1,2  </h4>
    </div>


</form>


</body>
</html>