<!DOCTYPE html>
<html>
<head lang="en">
    <link rel="stylesheet" type="text/css" href="./static/css/mainstyle.css"/>


    <meta charset="UTF-8">
    <title>WebDev</title>


</head>
<body>
<div id="left"></div>
<div id="right"></div>
<div id="top"></div>
<div id="bottom"></div>
<div id="left2"></div>
<div id="right2"></div>
<div id="top2"></div>
<div id="bottom2"></div>
<h1 class="ti">Web Development</h1>

<h3 class="pts">Average Of Numbers:</h3>
<a href="average">Average</a>
<h3 class="pts">Integrate A Function </h3>
<a href="graph">Integrate</a>
<h3 class="pts">About Us </h3>
<a href="aboutme">Prayas Jain</a>
<h1></h1>
<a href="anubhav">Anubhav Gupta</a>
<h1></h1>
<a href="ritvik">Rithvik Mekala</a>
</body>
</html>