<!DOCTYPE html>
<html>
<head lang="en">
    <link rel="stylesheet" type="text/css" href="./static/css/abmestyle.css"/>


    <meta charset="UTF-8">
    <title >About Me</title>


</head>
<body>
<div id="left"></div>
<div id="right"></div>
<div id="top"></div>
<div id="bottom"></div>
<div id="left2"></div>
<div id="right2"></div>
<div id="top2"></div>
<div id="bottom2"></div>
<h1 class="ti">About Me</h1>

<img  src="static/rr.png" height="450px" />
<div class="bor">
<h3 class="name">Name: Rithvik Mekala</h3>
<h3 class="home">Home: Hyderabad,Telangana</h3>
<h3 class="air">AIR: 533(obc)</h3>
<h3 class="board">Board Percentage: 95.0%</h3>
<h3 class="lang">Languages Known: C,Python,Html,Css</h3>
<h3 class="intr">Interests: Competitive Coding,Algorithmic Coding </h3>
<h3 class="cg">CGPA: 6.46</h3>
<h3 class="course">Courses Taken: C Programming , ITWS-1</h3>
</div>
</body>
</html>